/* @/components/markdown.module.css */

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 24px;
}

.markdown :target {
  scroll-margin-top: 72px;
}

/* Code Block ``` ``` */
.markdown pre {
  background-color: #161b22 !important;
  color: #e6edf3;
  border-radius: 6px;
  padding: 12px;
  overflow-x: auto;
}

/* Normal Code ` ` */
/* .markdown code {
  background-color: #161b22 !important;
  color: #e6edf3;
  border-radius: 4px;
  padding: 2px 4px;
} */
